<footer class="footer">
  <small>
    <a href="http://method.kz/">Курс веб-программирования</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "О Нас",   about_path %></li>
      <li><%= link_to "Контакт", '#' %></li>
      <li><a href="http://news.railstutorial.org/">Новости</a></li>
    </ul>
  </nav>
</footer>